<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema de Gestión Escolar</title>
</head>
<body>
  <h1>Sistema de Gestión Escolar</h1>
  <nav>
    <ul>
      <li><a href="/api/estudiantes">Estudiantes</a></li>
      <li><a href="/api/fichas">Fichas de Atención</a></li>
      <li><a href="/api/tests">Tests de Estilo de Aprendizaje</a></li>
      <li><a href="/api/respuestas">Respuestas de Tests</a></li>
    </ul>
  </nav>
</body>
</html>
